/* Q-Service Q-Admin v.2.0    */
html, * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
}
nav {
	z-index:1000;
}
label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
    margin-top: 16px;
}
.button-pref {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	font-size: 14px;
	vertical-align:bottom;
	height: 16px;
	border: 0px;
	font-size: 11px;
	width: auto;
	margin: 0px;
	padding: 0px;
	cursor:pointer;

}
.button-pref-gr {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #eaeaea;
	font-size: 14px;
	vertical-align:bottom;
	height: 16px;
	border: 0px;
	font-size: 11px;
	width: auto;
	margin: 0px;
	padding: 0px;
	cursor:pointer;

}

#manager-panel {
	height: 24px;
	position: absolute;
	left: 5px;
	top: 5px;
	right: 5px;
	/*border: 1px solid #c0c0c0;*/
}
#manager-panel     >div.manager-panel-button-r:hover       {
	cursor: pointer;
	text-decoration: none;
	background-image: url(/manager/_manager_img/qmenu/adm_grad_h_24_hover.gif);
	background-repeat: repeat-x;	
}
#manager-panel .manager-panel-menu {
	width: auto;
	_position: relative;
	float: left;
	_border-right-width: 1px;
	_border-right-style: solid;
	_border-right-color: #c0c0c0;
	_cursor: pointer;
	_background-image: url(/manager/_manager_img/qmenu/adm_grad_h_24.gif);
	_background-repeat: repeat-x;
}

#manager-panel .manager-panel-button {
	color: #666666;
	text-decoration: none;
	height: 25px;
	top: 0px;
	padding-left: 20px;
	text-align: center;
	vertical-align: middle;
	padding-right: 20px;
	position: relative;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	cursor: pointer;
	background-image: url(/manager/_manager_img/qmenu/adm_grad_h_24.gif);
	background-repeat: repeat-x;
}
#manager-panel .manager-panel-button-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: -30px;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#manager-panel .manager-panel-button-r {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	height: 24px;
	top: 0px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	padding-right: 10px;
	position: relative;
	float: right;
	line-height: -22px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c0c0c0;
	cursor: pointer;
}
#work-area {
	background-color: #eaeaea;
	left: 5px;
	right: 5px;
	bottom: 5px;
	position: absolute;
	height: 100%;
	top: 35px;
	_display: block;
}
#work-area-table {
	width: 100%;
	height: 100%;
}

#right-panel {
	position: fixed;
	_height: 100%;
	background-color: #FFFFFF;
	_float: right;
	width: 260px;
	_padding-top: 0px;
	_padding-right: 0px;
	top: 60px;
	right: 0px;
	border: 1px solid #c0c0c0;
	_bottom: 5px;
	display: block;
	margin-left: 5px;
	min-height: 100%;

}
#right-panel #right-switcher {
	background-color: #dcdcdc;
	height: 24px;
	width: 100%;
	position: relative;
	float: left;
	/*background-image: url(/manager/_manager_img/qmenu/adm_grad_h_24.gif);
	background-repeat: repeat-x;
	background-position: center center;*/
	margin-top: 0px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
}
#right-panel #right-switcher-txt {
	height: 14px;
	width: auto;
	position: relative;
	background-position: center center;
	margin-top: 4px;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;*/
	text-decoration: none;
	color: #666666;
	margin-right: 10px;
	float: right;
}

#right-panel #right-content {
	height: 100%;
	width: 240px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

#left-panel {
	position: absolute;
	background-color: #FFFFFF;
	float: left;
	width: 260px;
	padding-top: 0px;
	padding-right: 0px;
	top: 60px;
	border: 1px solid #c0c0c0;
	_bottom: 5px;
	display: inline;
	margin-right: 5px;
	min-height: 100%;
}
#left-panel #left-switcher {
	background-color: #dcdcdc;
	height: 24px;
	width: 100%;
	position: relative;
	float: left;
	/*background-image: url(/manager/_manager_img/qmenu/adm_grad_h_24.gif);
	background-repeat: repeat-x;
	background-position: center center;*/
	margin-top: 0px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
}

#left-panel #left-switcher-txt {
	height: 14px;
	width: auto;
	background-position: center center;
	margin-top: 5px;
	margin-left: 10px;
	
	text-decoration: none;
	color: #666666;
}
#left-panel #left-flags {
    margin-top: 18px;
    border-top: solid 1px;
    height: 34px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c0c0c0;
}
#left-panel #left-idx {
    height: 34px;
}

#left-panel #left-content {
	width: auto;
	margin-left: 0;
	height: 100%;
	margin-top: 0;
	margin-bottom: 10px;
	overflow-x: hidden;
}
#manager-panel #q {
	background-image: url(/manager/_manager_img/qmenu/adm_q.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 24px;
	width: 60px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	float: left;
	position: relative;	
}
#manager-panel #q:hover {
	background-image: url(/manager/_manager_img/qmenu/adm_q_hover.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 24px;
	width: 60px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c0c0c0;
	float: left;
	position: relative;
}
#middle-panel {
	position: absolute;
	left:265px;
	right:265px;
	border: 1px solid #c0c0c0;
	top: 60px;
	bottom: 5px;
	height-min: 100%;
	height: auto;
	overflow: auto;
}
#middle-content {
	background-color: #FFFFFF;
	top: 0px;
	height: 100%;
	display: block;
	padding: 10px;
}
#bottom-panel {
	background-color: #FFFFFF;
	border: 1px solid #c0c0c0;
	bottom: 0px;
	left: 0px;
	height: 50px;
	right: 0px;
}
#left-panel-closed {
	position: absolute;
	width: 24px;
	left: 5px;
	top: 60px;
	bottom: 5px;
	/*background-image: url(/manager/_manager_img/qmenu/adm_grad_v_24.gif);*/
	background-repeat: repeat-y;
	border-width: 1px;
	border-style: solid;
	border-color: #c0c0c0;
}

#right-panel-closed {
	position: fixed;
	width: 24px;
	right: 5px;
	top: 60px;
	bottom: 5px;
	/*background-image: url(/manager/_manager_img/qmenu/adm_grad_v_24.gif);*/
	background-repeat: repeat-y;
	border-width: 1px;
	border-style: solid;
	border-color: #c0c0c0;
}

.arr-open	{
	height: 15px;
	width: 15px;
	margin-top: 4px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

.arr-close {
	height: 14px;
	width: 14px;
	margin-top: 4px;
	margin-left: 3px;
	cursor: pointer;
}
.arr-open:after	{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f053";
	
}
.arr-close:after	{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	margin-left: 6px;
	
}
.r-arr-open	{
	height: 15px;
	width: 15px;
	margin-top: 4px;
	margin-left: 10px;
	cursor: pointer;
	float: left;

}

.r-arr-close {
	height: 14px;
	width: 14px;
	margin-top: 4px;
	margin-left: 3px;
	cursor: pointer;
}
.r-arr-open:after	{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f054";
	margin-left: 6px;
}
.r-arr-close:after	{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f053";
}

/* File Manager */

.fileManagerName {
	position:relative; 
	height:16px !important; 
	overflow: hidden; 
	cursor:pointer;
}
.fileManagerPrwContainer {
	width:160px; 
	height: 220px; 
	display:inline-block; 
	margin-left: 3px; 
	margin-right: 3px; 
	margin-top: 12px; 
	border: 1px solid #c0c0c0;
}
.fileManagerImgTools {
	height:16px;
}
.fileManagerImgToolsContainer {
	margin-left:10px;
	margin-top:6px;
	text-align:left;
	height:16px;
	width:auto;
}
.editText {

	cursor:pointer;
	text-align:left;	
	text-decoration:underline;
}

a.fileName, a.filetext{
	font-size:11px;
}

a.delfile {
	font-size:14px;
	color:red;
}

.fileManagerPrwContainer table {
 	text-align: center;
	vertical-align: middle;
	height: 190px;
	width:160px; 

}
.fileManagerNameTd {
 	text-align: center;
	vertical-align: middle;
	height: 20px;
	background-color: #c0c0c0;
}

/* Prop menu */
.prop-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	text-align: left;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	list-style: none;
	line-height: 20px;	
}
.prop-menu a {
	text-decoration: none;
	color: #000000;
	cursor: pointer; 
}
button.ajax-propp, button.ajax-userp {
	background-color: transparent;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	vertical-align:bottom;
	height: 16px;
	border: 0px;
	font-size: 11px;
	width: auto;
	margin: 0px;
	padding: 0px;
	cursor:pointer;

}


/* Adnin Global */
.bt-delete {
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-plus {
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-delete-gr {
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-delete-gr:after	{
	font-family: "Glyphicons Halflings";
	content: "\e083";
	color:#666;
	font-size: 16px;
	
}
.bt-plus-gr {
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
/*.bt-plus-gr:after	{
	font-family: "Glyphicons Halflings";
	content: "\e081";
	color:#666;
	font-size: 16px;
	
}
*/
.bt-change {
	/*font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/change.png);*/
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-change-gr {
	/*font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/change.png);*/
	background-color: #fff;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
/*.bt-change-gr:after	{
	font-family: "Glyphicons Halflings";
	content: "\e084";
	color:#666;
	font-size: 16px;
	
}
*/
.bt-admroot {
	/*font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/admroot.png);*/
	background-color: #fff;
	/*font-size: 14px;*/
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-admroot-gr {
	background-color: #eaeaea;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}

.bt-unrename {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unrename.png);
	background-color: #fff;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-unrename-gr {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unrename.png);
	background-color: #eaeaea;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-unremove {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unremove.png);
	background-color: #fff;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-unremove-gr {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unremove.png);
	background-color: #eaeaea;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-unactive {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unactive.png);
	background-color: #fff;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-unactive-gr {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/unactive.png);
	background-color: #eaeaea;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-active {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/active.png);
	background-color: #fff;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}
.bt-active-gr {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url(/manager/_manager_img/16x16/active.png);
	background-color: #eaeaea;
	font-size: 14px;
	vertical-align:bottom;
	color: #f00;
	height: 16px;
	border: none;
	font-size: 11px;
	width: 16px;
	margin: 0px;
	padding: 0px;
	cursor:pointer;
}


/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:0px 0pt 0px;
	font-size: 8pt;
/*	width: 100%; */
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #2c3e50;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#fafafa;
}
.tablesorter-flatprimary th.primary, .tablesorter-flatprimary tr.odd td.primary {
    background-color: #eee;
    color: #ffffff;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #00e3ca;
}

.check-active {color:green;}
.check-noactive {color:red;}

/* Validation HTML5 */

  input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFW…A0gN356N7p7xdOS3w5fAgcfNxWtn+BJi9gVVBOQfYPQIABABvRq3BwGT3OAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFW…9PBm4OwR1TwmYwcfzjsBUQFLjOxs52A2YyKysrXANAgAEA7buhysQuIREAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }



/* new publications 2019 */

#dropZone { 
	margin-right:15px;
	min-width:120px;
	max-width:120px;
	min-height:120px;
	max-height:120px;
	color: #555;
	font-size: 16px;
	text-align: center;
	background: #eee;
	border: 2px dotted #000;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
}

#dropZone.hover {
	background: #ddd;
	border-color: #aaa;
}

#dropZone.error {
	background: #faa;
	border-color: #f00;
}

	#dropZone.drop {
	/*background: #afa;*/
	background: #eee;
	border: 2px dotted #000;
}

.dimg {
	margin-right:15px;
	min-width:120px;
	max-width:120px;
	min-height:150px;
	max-height:150px;
	color: #555;
	font-size: 18px;
	text-align: center;
	background: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	overflow:hidden;
	margin-bottom:15px;
	position:relative;
}

.simg {
	width: 100%;
	height: auto;
}

.img-action {
	background-color:#373737;
	width: 118px;
	top: 117px;
	height:33px;
	z-index: 99999;
	position:absolute;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;

}

.img-action > i {
	color:#fff;
	margin:8px 6px;
	cursor: pointer;
}

i.iactive {
	color: green;
}

a.aactions {
	cursor:pointer;
	float:right;
	margin:0 .2rem;
	font-size:18px;
}

a.aactions > i{
	font-size:18px;
}

.pub-list-left {
	width:290px;
	overflow:hidden;
	max-width:290px;
	display:inline-block;
}

.pub-list-right {
	width:70px;
	overflow:hidden;
	max-width:70px;
	float:right;
	display:inline-block;
}

.pub-list-item {
	padding: 3px 0;
	border:none;
	height:auto;
	margin:0;
	border-bottom: 1px dotted #000;
	min-height:3rem;
}

.pub-left-active {
	background-color: #eee;
}

.list-item-container {
	margin:6px 15px;
}

.list-container {
	max-height:100%;
	overflow-y:auto;
	padding: 0;
}

.nav-item {margin: 0 1rem;}